body {
  background: url("C:/HTML_CSS/xo/src/img/Sky.jpg");
  background-size: cover;
}
#main {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
.selectButton {
  background: rgb(5, 236, 36);
}
.btn {
  background: rgb(207, 18, 18);
}
.btn,
#oneXX,
#oneOO,
#twoXX,
#twoOO :hover {
  cursor: pointer;
}
.play {
  display: flex;
  justify-content: space-around;
}
.userName,
.newGame {
  margin-left: auto;
  margin-right: auto;
}
.newGame {
  margin: 0 100px 0 100px;
}
